<div class="modal-container scroll">
    <div class=" modal-content card m-1">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h4 class="mx-auto">{{ modalData.name}}</h4>
                <button mat-button class="btn btn-light " (click)="onClose()"><i class="bi bi-x-square"></i></button>
            </div>
            <hr>
            <h6 class="text-underline text-center">Responsable :</h6>
            <h6 class="text-center"> {{modalData.creator.firstname}} {{modalData.creator.lastname}},</h6>
            <hr>
            <h6 class="text-underline text-center">Adresse :</h6>
            <h6 class="text-center"> {{modalData.adress.street}} {{modalData.adress.number}},</h6>
            <h6 class="text-center"> {{modalData.adress.postCode}} {{modalData.adress.city}},</h6>
            <hr>
            <div class="text-center">
                <button mat-button class="btn btn-light " (click)="onClose()">Fermer</button>
            </div>
        </div>
    </div>
</div>