<div class="modal-container scroll">
    <div class=" modal-content card m-1">
        <div class="card m-1">
            <div class="card-body">
                <div class="d-flex justify-content-between m-3 ">
                    <h4 class="mx-auto">{{ modalData.name}}</h4>
                    <button mat-button class="btn btn-light " (click)="onClose()"><i class="bi bi-x-square"></i></button>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td class=" text-center my-2">
                                <h6>{{modalData.description}}</h6>
                            </td>
                        </tr>
                        <tr>
                            <td class=" text-center my-2">
                                <h6>Profondeur : {{modalData.maxDepp}} mètres</h6>
                            </td>
                        </tr>
                        <tr>
                            <td class=" text-center my-2">
                                <h6>Compresseur : {{modalData.compressor ? 'Oui' :'Non'}}</h6>
                                <h6>Restauration : {{modalData.restoration ? 'Oui' :'Non'}}</h6>
                            </td>
                        </tr>
                        <tr>
                            <td class=" text-center my-2">
                                <h6>Tarif : {{modalData.price}}€</h6>
                            </td>
                        </tr>
                        <tr>
                            <td class=" text-center my-2">
                                <a class="btn btn-primary" [href]="modalData.url" target="_blank">Site Officiel</a>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td class=" text-center my-2">
                                <a class="btn btn-primary" [href]="'../../.././../assets/plans/'+modalData.map">Télécharger la
                                    carte</a>
                            </td>
                        </tr> -->
                        <tr>
                            <td class=" text-center my-2">
                                <a class="btn btn-primary"
                                    [href]="'https://www.google.com/maps?q='+modalData.adress.number+' '+modalData.adress.street+' '+modalData.adress.postCode+' '+modalData.adress.city+' '+modalData.adress.country"
                                    target="_blank">Y aller</a>
                            </td>
                        </tr>
    
    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>