
    <table class="table">
        <th class="text-center border " colspan="2">Info</th>
        <tr>
            <td class="text-center border">
                T° eau : {{Divelog.waterTemperature}}°
            </td>
            <td class="text-center border">
                Durée : {{Divelog.duration}}'
                
            </td>
        </tr>
        <tr>
            <td class="text-center border">
                T° air : {{Divelog.airTemperature}}°
            </td>
            <td class="text-center border">
                Profondeur : {{Divelog.maxDeep}} m
            </td>
        </tr>
        <tr>
            <td class="text-center border " colspan="2">
                {{Divelog.description}}
            </td>

        </tr>
    </table>
