<div class="container">
  <h1>Contacts</h1>

    <div *ngFor="let contact of contacts" class="row">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{contact.firstName}} {{contact.lastName}}</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p> -->
        </div>
        <!-- <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul> -->
        <div class="card-body">
          <button class="form-control m-2 hover" (click)="like(contact.id)">Liker</button>
        </div>
      </div>
    </div>

</div>