

<div class="d-flex justify-content-around p-3 text-center border-bottom">
  <a routerLink="/event" class="list-group-item list-group-item-action" >
    <i class="bi bi-house-door-fill fa-fw me-3"></i><span>Events</span>
  </a>
  <a routerLink="/formation" class="list-group-item list-group-item-action" >
    <i class="bi bi-house-door-fill fa-fw me-3"></i><span>Formations</span>
  </a>
  <a routerLink="/club" class="list-group-item list-group-item-action" >
    <i class="bi bi-house-door-fill fa-fw me-3"></i><span>Clubs</span>
  </a>
  <a routerLink="/site" class="list-group-item list-group-item-action" >
    <i class="bi bi-house-door-fill fa-fw me-3"></i><span>Sites</span>
  </a>
  <a routerLink="/contact" class="list-group-item list-group-item-action" >
    <i class="bi bi-house-door-fill fa-fw me-3"></i><span>Contacts</span>
  </a>
</div>



