<div class="d-flex justify-content-around p-1 text-center border-bottom">
 
  <!-- <a class="list-group-item list-group-item-action text-center" routerLink="/" role="button">
    <img src="./../../../../assets/divingclub.png"  height="25vh" loading="lazy" />
  </a> -->

  <a routerLink="/event" class="list-group-item list-group-item-action mx-4 p-1" >
    <i class="bi bi-calendar-event fa-fw me-3"></i><span>Events</span>    
  </a>
  <a routerLink="/formation" class="list-group-item list-group-item-action mx-4 p-1" >
    <i class="bi bi-mortarboard fa-fw me-3"></i><span>Forms</span>
  </a>
  <a routerLink="/club" class="list-group-item list-group-item-action mx-4 p-1" >
    <i class="bi bi-shop fa-fw me-3"></i><span>Clubs</span>
  </a>
  <a routerLink="/site" class="list-group-item list-group-item-action mx-4 p-1" >
    <i class="bi bi-pin-map fa-fw me-3"></i><span>Sites</span>
  </a>
  <a routerLink="/contact" class="list-group-item list-group-item-action mx-4 p-1" >
    <i class="bi bi-person-fill-add fa-fw me-3"></i><span>Contacts</span>
  </a>
</div>



