
<div class="list-group list-group-flush boder-left min-size border rounded">
    <button (click)="close()" class="btn btn-light mb-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
      </svg>
      <!-- <i class="bi bi-x-circle"></i> -->
    </button>
    <div *ngFor="let friend of Friends">
      <button (click)="getMessage(friend.id)" class="list-group-item list-group-item-action text-center">
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-column align-items-center"> 
            <img *ngIf="friend.imageUrl" [src]="friend.imageUrl" class="rounded-circle mx-2" height="30"alt="Avatar" loading="lazy" />
            <div>
              {{friend.firstname}} {{friend.lastname}}
            </div>
          </div>
          &nbsp;&nbsp;&nbsp;
          <span *ngIf="friend.countMessages > 0" class="rounded-circle border p-1 my-auto">{{friend.countMessages}}</span>
        </div>
      </button>
    </div>
</div>
