<div class="list-group list-group-flush boder-left min-size">

  

    <div *ngFor="let friend of Friends">
      <!-- [routerLink]="['/message',friend.id]" -->
      <button (click)="getMessage(friend.id)" class="list-group-item list-group-item-action text-center">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle mx-2" height="30"alt="Avatar" loading="lazy" />
        <div>
          {{friend.firstname}} {{friend.lastname}}
        </div>
      </button>
    </div>
  


</div>