<div *ngFor="let event of Events">
    <div class="card m-1">
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <td class=" text-center my-2">
                            <h5>Type : {{event.name}}</h5>
                            <h6>Du {{event.startDate | date : 'medium' }} au {{event.endDate | date : 'short'}}</h6>
                        </td>
                        <td class=" text-center"> <button *ngIf="!event.isParticipe" class="btn btn-success m-2 hover" (click)="participe(event.id)">In</button>
                            <button *ngIf="event.isParticipe" class="btn btn-warning hover" (click)="unparticipe(event.id)">Out</button>
                        </td>
                    </tr>
                    <tr *ngIf="event.participes.length >0" >
                        <td>
                            <p class="text-underline">Participants : </p>
                            <ul>
                                <li *ngFor="let participe of event.participes">
                                      <span>{{participe.firstname}} {{participe.lastname}}</span>  
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Créateur : {{event.creator.firstname}} {{event.creator.lastname}} </td>
                        <td class="text-center"><button class="btn btn-light hover" (click)="creatorInfo(event.creator)">Info</button></td>
                    </tr>
                    <tr>
                        <td>Lieu : {{event.diveplace.name}} </td>
                        <td class="text-center"><button class="btn btn-light hover" (click)="diveplaceInfo(event.diveplace)">Info</button></td>
                    </tr>
                    <tr *ngIf="event.club">
                        <td>Club : {{event.club.name}}</td>
                        <td class="text-center"><button class="btn btn-light hover" (click)="clubInfo(event.club)">Info</button></td>
                    </tr>
                    <tr *ngIf="event.training">
                        <td>Formation : {{event.training.name}}</td>
                        <td class="text-center"><button class="btn btn-light hover" (click)="trainingInfo(event.training)">Info</button></td>
                    </tr>
                    <tr *ngIf="event.organisation" >
                        <td >Oragnisation : {{event.organisation.name}}</td>
                        <td class="text-center"><button class="btn btn-light hover" (click)="organisationInfo(event.organisation)">Info</button></td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>    


