<div class="modal-container scroll">
    <div class=" modal-content card m-1">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h4 class="mx-auto">{{ modalData.name}}</h4>
                <button mat-button class="btn btn-light " (click)="onClose()"><i class="bi bi-x-square"></i></button>
            </div>
            <hr>
            <h6 class="text-underline text-center">Organisation :</h6>
            <h6 class="text-center">{{modalData.organisation.name}}</h6>
            <div class="d-flex justify-content-center">
                <img [src]="'../../../../assets/organisations/'+modalData.organisation.picture" alt="" class="size"/>
            </div>
            <hr>
            <div class="text-center">
                <button mat-button class="btn btn-light " (click)="onClose()">Fermer</button>
            </div>
        </div>
    </div>
</div>