<div class="list-group list-group-flush boder-left ">
  <li class="list-group-item mt-3">
    <h6>
      <i class="bi bi-person fa-fw m-3"></i><span>Contacts</span>
    </h6>
  </li>
  <div *ngFor="let friend of friends">
    <a routerLink="" class="list-group-item list-group-item-action py-2 ripple">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle mx-2" height="30"
        alt="Avatar" loading="lazy" />
      <span>{{friend.firstname}} {{friend.lastname}}</span>
    </a>
  </div>

</div>