<div class="text-center">
    <form class="border rounded p-2" [formGroup]="FormEvent" (ngSubmit)="update()" >
        <label for="firstname">Nom</label>
        <div class="mb-3 d-flex justify-content-center" >
            <input type="text" class="form-control w-50" [ngClass]="{'errors' : Name.invalid}" formControlName="name"  id="Name" placeholder="name">
        </div>
        <div class="mb-3 d-flex justify-content-center" >
          <div *ngIf="Name.invalid && (Name.dirty || Name.touched)" >
            <div class="errors" *ngIf="Name.errors['required']">Fistname est requis</div>
            <div class="errors" *ngIf="Name.errors['minlength']">longueur minimum doit etre de 4 characteres </div>
            <div class="errors" *ngIf="Name.errors['maxlength']">longueur maximum ne peut depasser 250 characteres</div>
          </div>      
        </div>
        
        <label for="birthdate">Date de début</label>
        <!-- [ngClass]="{'errors' : StartDate.invalid}" -->
        <div class="mb-3 d-flex justify-content-center">
            <input type="datetime-local" class="form-control w-50" formControlName="startdate"  id="startdate" placeholder="StartDate" >           
        </div>
        <div class="mb-3 d-flex justify-content-center">
          <div >
            <div class="errors" *ngIf="FormEvent.getError('start') as error">{{error}}</div>
          </div>          
        </div>
    
        <label for="birthdate">Date de fin</label>
        <div class="mb-3 d-flex justify-content-center">
          <!-- [ngClass]="{'errors' : EndDate.invalid}" -->
            <input type="datetime-local" class="form-control w-50"  formControlName="enddate"  id="enddate" placeholder="EndDate" >           
        </div>
        <div class="mb-3 d-flex justify-content-center">
          <div>
            <div class="errors" *ngIf="FormEvent.getError('end') as error">{{error}}</div>
          </div>          
        </div>
    
        <label for="diveplace">Site</label>
        <div class="mb-3 d-flex justify-content-center">
            <select formControlName="diveplaceId" class="form-select w-50">
                <option *ngFor="let site of Sites" [value]="site.id">{{ site.name }}</option>
              </select>
        </div>

        <!-- <label for="birthdate">Organistation</label>
        <div class="mb-3 d-flex justify-content-center" *ngFor="let organisation of User.organisations">
            {{ organisation.name }}
        </div> -->
    
        <div *ngIf="User.level=='Instructor'">
          <label for="birthdate">Formation</label>
          <div class="mb-3 d-flex justify-content-center">
              <select formControlName="trainingId" class="form-select w-50">
                  <option *ngFor="let training of User.trainings" [value]="training.id">{{ training.organisation.name }} : {{ training.name }}</option>
                </select>
          </div>
        </div>

        <label for="birthdate">Club</label>
        <div class="mb-3 d-flex justify-content-center">
            <select formControlName="clubId" class="form-select w-50">
                <option *ngFor="let club of User.clubs" [value]="club.id">{{ club.name }}</option>
            </select>
        </div>

        <button type="submit" class="btn btn-dark mb-3">Changer</button>
      </form>
      <div class="border rounded mt-2 p-2 " *ngIf="Event && Event.participes && Event.participes.length > 0">
          <h6>Retirer des participants</h6>
          <div class="list-group">
            <div *ngFor="let participe of Event.participes">
                <button *ngIf="participe.id != User.id" type="button" class="list-group-item list-group-item-action w-50 mx-auto" (click)="unparticipe(participe.id)" >
                    {{participe.firstname}}  {{participe.lastname}}
                </button>
            </div>
             
            </div>
      </div>
</div>

