<div *ngIf="UrlSegements === 'my-events'" class="text-center">
    <button class="btn btn-primary hover m-3" routerLink="/insert-event"><i class="bi bi-plus-square"></i></button>
</div>
<div *ngFor="let event of Events">
    <table class="table border rounded">
            <tr>
                <td class="text-center">
                    <h4 class="m-1">{{event.name}}</h4>
                    <h6 class="m-1">Le {{event.startDateFrench }} </h6>
                    <!-- <h6>Fin le {{event.endDateFrench }} </h6> -->
                </td>
                <td class="d-flex flex-column min-width"> 
                    <button *ngIf="User.id && UrlSegements!='my-book' && User.id != event.creator.id && !event.isParticipe" class="btn btn-success hover border font-color-black m-1" (click)="participe(event)">
                        <div class="d-flex flex-column align-items-center">
                            <i class="bi bi-hand-thumbs-up-fill"></i>
                            <span style=" font-style: italic;">participe</span>
                        </div>
                    </button>
                    <button *ngIf="User.id && UrlSegements!='my-book' && User.id != event.creator.id && event.isParticipe" class="btn btn-warning hover border font-color-black m-1" (click)="unparticipe(event)">
                        <div class="d-flex flex-column align-items-center">
                            <i class="bi bi-hand-thumbs-down-fill"></i>
                            <span style=" font-style: italic;">participe pas</span>
                        </div> 
                    </button>
                    <button *ngIf="User.id && UrlSegements=='my-events' && User.id == event.creator.id" class="btn btn-danger hover font-color-black border m-1" (click)="deleteEvent(event)">
                        <div class="d-flex flex-column align-items-center">
                            <i class="bi bi-trash"></i>
                            <span style=" font-style: italic;">supprimer</span>
                        </div> 
                    </button>
                    <button *ngIf="User.id && UrlSegements=='my-events' && User.id == event.creator.id && event.startDate.getTime() > Today.getTime()" class="btn btn-warning hover font-color-black border m-1" (click)="updateEvent(event)">
                        <div class="d-flex flex-column align-items-center">
                            <i class="bi bi-arrow-clockwise"></i>
                            <span style=" font-style: italic;">modifier</span>
                        </div> 
                    </button>
                </td>
            </tr>
            <tr *ngIf="event.training" class="border-top" >
                <td class="text-center">
                    <span style="font-weight: bold;">Formation :</span> {{event.training.organisation.name}} {{event.training.name}}
                </td>
                <td class="d-flex flex-column min-width">
                    <button class="btn btn-light hover border font-color-black m-1" (click)="trainingInfo(event.training)">
                        <div class="d-flex flex-column align-items-center">
                            <i class="bi bi-info-circle"></i>
                            <span style=" font-style: italic;">infos</span>
                        </div> 
                    </button>
                </td>
            </tr>
            <tr class="border-top">
                <td class="text-center">
                    <span style="font-weight: bold;">Lieu :</span>{{event.diveplace.name}}
                    <div class="d-flex justify-content-center">
                        <img *ngIf="event.diveplace.image" [src]="event.diveplace.image" class="size border rounded" height="200vh" alt="Avatar"loading="lazy" />
                    </div>
                </td>
                <td class="d-flex flex-column min-width">
                    <button class="btn btn-light hover border font-color-black m-1" (click)="diveplaceInfo(event.diveplace)">
                        <div class="d-flex flex-column align-items-center">
                            <i class="bi bi-info-circle"></i>
                            <span style=" font-style: italic;">infos</span>
                        </div> 
                    </button>
                </td>
            </tr>
             <tr class="border-top">
                <td class="text-center">
                    <div class="text-center">
                        <span style="font-weight: bold;">Organisateur :</span> {{event.creator.firstname}} {{event.creator.lastname}}
                        <!-- <p>{{event.creator.organisation}} {{event.creator.level}}</p> -->
                    </div>
                </td>
                <td class="d-flex flex-column min-width">
                    <button class="btn btn-light hover border font-color-black m-1" (click)="creatorInfo(event.creator)">
                        <div class="d-flex flex-column align-items-center">
                            <i class="bi bi-info-circle"></i>
                            <span style=" font-style: italic;">infos</span>
                        </div> 
                    </button>
                </td>
            </tr>
            <tr *ngIf="UrlSegements =='my-book'" class="border-top">
                <td *ngIf="event.divelog" >
                    <app-divelog [UrlSegements]="UrlSegements" [User]="User" [Element]="event.divelog"></app-divelog>
                </td>
                <td *ngIf="!event.divelog" class="text-center">
                    <span style="font-weight: bold;">Carnet de plongées</span> 
                </td>
                <td class="d-flex flex-column min-width">
                    <button *ngIf="User.id && UrlSegements=='my-book'  && !event.divelog" class="btn btn-primary hover border font-color-black m-1" routerLink="/insert-book/{{event.id}}">
                        <div class="d-flex flex-column align-items-center">
                            <i class="bi bi-plus-square"></i>
                            <span style=" font-style: italic;">ajouter</span>
                        </div> 
                    </button>
                    <button *ngIf="User.id && UrlSegements=='my-book'  && event.divelog" class="btn btn-warning hover border font-color-black m-1" routerLink="/update-book/{{event.id}}">
                        <div class="d-flex flex-column align-items-center">
                            <i class="bi bi-arrow-clockwise"></i>
                            <span style=" font-style: italic;">modifier</span>
                        </div> 
                    </button>
                </td>
            </tr>
           
            <tr *ngIf="event.participes.length > 0">
                <td colspan="2">
                    <app-participator-table [UrlSegements]="UrlSegements" [User]="User" [Element]="event"></app-participator-table>
                </td>
            </tr>
            <tr *ngIf="event.club" class="border-top">
                <td class="text-center">
                    <span style="font-weight: bold;">Groupe :</span> {{event.club.name}}
                </td>
                <td class="d-flex flex-column min-width">
                    <button class="btn btn-light hover border font-color-black m-1" (click)="clubInfo(event.club)">
                        <div class="d-flex flex-column align-items-center">
                            <i class="bi bi-info-circle"></i>
                            <span style=" font-style: italic;">infos</span>
                        </div> 
                    </button>
                </td>
            </tr>
         
    </table>
</div>    



