<div *ngIf="UrlSegements === 'my-events'" class="text-center">
    <button class="btn btn-primary hover m-3" routerLink="/insert-event"><i class="bi bi-plus-square"></i></button>
</div>
<div *ngFor="let event of Events">
    <table class="table border rounded">
        <tbody>
            <tr>
                <td class=" text-center my-2">
                    <h5>{{event.name}}</h5>
                    <h6>Début le {{event.startDateFrench }} </h6>
                    <h6>Fin le {{event.endDateFrench }} </h6>
                </td>
                <td class=" text-center"> 
                    <button *ngIf="User.id && !event.isParticipe && User.id != event.creator.id" class="btn btn-success hover mb-4" (click)="participe(event.id)"><i class="bi bi-hand-thumbs-up-fill"></i></button>
                    <button *ngIf="User.id && event.isParticipe && User.id != event.creator.id" class="btn btn-primary hover mb-4" (click)="unparticipe(event.id)"><i class="bi bi-hand-thumbs-down-fill"></i></button>
                    <button *ngIf="User.id && ActivateButtons && User.id == event.creator.id && event.startDate.getTime() > Today.getTime()" class="btn btn-warning hover m-1" (click)="updateEvent(event)"><i class="bi bi-arrow-clockwise"></i></button>
                    <button *ngIf="User.id && ActivateButtons && User.id == event.creator.id" class="btn btn-danger hover m-1" (click)="deleteEvent(event)"><i class="bi bi-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <p>Lieu : {{event.diveplace.name}}</p>
                    <img [src]="event.diveplace.image" alt="" class="size border rounded" />
                </td>
                <td class="text-center"><button class="btn btn-light hover" (click)="diveplaceInfo(event.diveplace)"><i class="bi bi-info-circle"></i></button></td>
            </tr>
            <tr *ngIf="event.participes.length > 0">
                <app-participator-table [UrlSegements]="UrlSegements" [User]="User" [Element]="event"></app-participator-table>
            </tr>
            <tr>
                <td>Créateur : {{event.creator.firstname}} {{event.creator.lastname}} </td>
                <td class="text-center"><button class="btn btn-light hover" (click)="creatorInfo(event.creator)"><i class="bi bi-info-circle"></i></button></td>
            </tr>
            <tr *ngIf="event.club">
                <td>Club : {{event.club.name}}</td>
                <td class="text-center"><button class="btn btn-light hover" (click)="clubInfo(event.club)"><i class="bi bi-info-circle"></i></button></td>
            </tr>
            <tr *ngIf="event.training">
                <td>Formation : {{event.training.name}}</td>
                <td class="text-center"><button class="btn btn-light hover" (click)="trainingInfo(event.training)"><i class="bi bi-info-circle"></i></button></td>
            </tr>
            <tr *ngIf="event.organisation" >
                <td >Oragnisation : {{event.organisation.name}}</td>
                <td class="text-center"><button class="btn btn-light hover" (click)="organisationInfo(event.organisation)"><i class="bi bi-info-circle"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>    



