<div *ngIf="UrlSegements === 'my-clubs'" class="text-center">
    <button class="btn btn-primary hover m-3" routerLink="/insert-club"><i class="bi bi-plus-square"></i></button>
</div>
<div *ngFor="let club of Clubs">

    <table class="table border rounded">
        <tr>
            <td class=" text-center ">
                <h4>{{club.name}}</h4>
                <h6>Date de création le {{club.createdAt}}</h6>
            </td>
            <td class="d-flex flex-column min-width">
                <button *ngIf="User.id && !club.isParticipe && User.id != club.creator.id"
                    class="btn btn-success hover border font-color-black m-1" (click)="participe(club.id)">
                    <div class="d-flex flex-column align-items-center">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                        <span style=" font-style: italic;">je participe</span>
                      </div>
                    </button>
                <button *ngIf="User.id && club.isParticipe && User.id != club.creator.id"
                    class="btn btn-warning border font-color-black hover m-1" (click)="unparticipe(club.id)">
                    <div class="d-flex flex-column align-items-center">
                        <i class="bi bi-hand-thumbs-down-fill"></i>
                        <span style=" font-style: italic;">je ne participe pas</span>
                    </div> 
                    </button>
                <button *ngIf="User.id && EnableButtons && User.id == club.creator.id"
                    class="btn btn-danger border font-color-black hover m-1" (click)="deleteClub(club)">
                    <div class="d-flex flex-column align-items-center">
                        <i class="bi bi-trash"></i>
                        <span style=" font-style: italic;">supprimer</span>
                    </div> 
                </button>
                <button *ngIf="User.id && EnableButtons && User.id == club.creator.id"
                    class="btn btn-warning border font-color-black hover m-1" (click)="updateClub(club)"> 
                    <div class="d-flex flex-column align-items-center">
                        <i class="bi bi-arrow-clockwise"></i>
                        <span style=" font-style: italic;">modifier</span>
                    </div> 
                </button>

            </td>
        </tr>
        <tr class="border-top">
            <td class="text-center">
                <div class="text-center">
                    <span style="font-weight: bold;">Organisateur :</span> {{club.creator.firstname}} {{club.creator.lastname}}
                    <!-- <p>{{club.creator.organisation}} {{club.creator.level}}</p> -->
                </div>
            </td>
            <td class="d-flex flex-column min-width">
                <button class="btn btn-light hover border font-color-black m-1" (click)="creatorInfo(club.creator)">
                    <div class="d-flex flex-column align-items-center">
                        <i class="bi bi-info-circle"></i>
                        <span style=" font-style: italic;">infos</span>
                    </div> 
                </button>
            </td>

        </tr>
        <tr *ngIf="club.participes.length > 0">
            <td colspan="2">
                <app-participator-table [UrlSegements]="UrlSegements" [User]="User"
                    [Element]="club"></app-participator-table>
            </td>
        </tr>
    </table>
</div>