<div *ngFor="let club of Clubs">
    <div class="card m-1">
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <td class=" text-center my-2">
                            <h5>{{club.name}}</h5>
                            <h6>Date de création le {{club.createdAt}}</h6>
                        </td>
                        <td class=" text-center"> 
                            <button *ngIf="!club.isParticipe && User.id != club.creator.id" class="btn btn-success m-2 hover" (click)="participe(club.id)"><i class="bi bi-hand-thumbs-up-fill"></i></button>
                            <button *ngIf="club.isParticipe && User.id != club.creator.id" class="btn btn-warning hover" (click)="unparticipe(club.id)"><i class="bi bi-hand-thumbs-down-fill"></i></button>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td class="text-center">
                            <p>Lieu : {{event.diveplace.name}}</p>
                            <img [src]="'../../../../assets/sites/'+event.diveplace.picture" alt="" class="size border rounded" />
                        </td>
                        <td class="text-center"><button class="btn btn-light hover" (click)="diveplaceInfo(event.diveplace)">Info</button></td>
                    </tr> -->
                    <tr *ngIf="club.creator.organisations.length > 0" >
                        <td>
                            <p class="text-underline">Organisations : </p>
                            <ul>
                                <li *ngFor="let organisation of club.creator.organisations">
                                 
                                      <span>{{organisation.name}}</span>  
                                </li>
                            </ul>
                        </td>
                        <td></td>
                    </tr>
                    <tr *ngIf="club.participes.length > 0" >
                        <app-participator-table [User]="User" [Participator]="club.participes"></app-participator-table>
                    </tr>
                    <tr>
                        <td>Créateur : {{club.creator.firstname}} {{club.creator.lastname}} </td>
                        <td class="text-center"><button class="btn btn-light hover" (click)="creatorInfo(club.creator)">Info</button></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>    



