<div class="modal-container scroll">
    <div class=" modal-content card m-1">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h4 class="mx-auto">Conditions :</h4>
                <button mat-button class="btn btn-light " (click)="onClose()"><i class="bi bi-x-square"></i></button>
            </div>
            <hr>
            <p>J'accepte de partager </p>
            <ul>
                <li>mon e-mail</li>
                <li>mon nom</li>
                <li>mon prénom</li>
                <li>ma date de naissance</li>
            </ul>
            <p>pour pouvoir m'inscrire</p>
            <p>J'accepte qu'un administrateur puisse voir mes informations suivantes : </p>
                <ul>
                    <li> une photo de mon niveau</li>
                    <li> une photo de mon certificat médical</li>
                    <li> une photo de mon assurance</li>
                </ul>
               
            <p>afin de les valider ce dans le but unique de faciliter les organisations d'évenement plongée </p>
            <p>J'accepte que mes amis puissent voir mon email et mes autres amis au sein de l'application </p>
            <hr>
            <div class="text-center">
                <button mat-button class="btn btn-light " (click)="onClose()">Fermer</button>
            </div>
        </div>
    </div>
</div>

