
<table class="table border rounded mt-3">
  <th colspan="3" class="text-center border p-3"> 
    <div class="d-flex justify-content-around">
      <div class="m-auto">
        Organisations
      </div>
      <div class="text-center">
        <button class="btn btn-primary hover mx-5" routerLink="/admin-home/insert-organisation">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
          </svg>
          <!-- <i class="bi bi-plus-square m-3"></i> -->
        </button>
      </div>
    </div>
  </th>
  <tr *ngFor="let organisation of Organisations" class="border">
    <td class="text-center">
      <h6 class="">{{organisation.name}} </h6>
    </td>
    <td class="d-flex flex-row-reverse">
      <button *ngIf="organisation" class="btn btn-danger hover border font-color-black mx-2" (click)="deleteorganisation(organisation.id)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
        </svg>
        <!-- <i class="bi bi-trash mx-5"></i> -->
      </button>
      <button *ngIf="organisation" class="btn btn-warning hover border font-color-black mx-2" (click)="updateorganisation(organisation.id)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
          <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
        </svg>
        <!-- <i class="bi bi-arrow-clockwise mx-5"></i> -->
      </button>
    </td>
  </tr>
</table>

<div class="mb-3 d-flex justify-content-center">
  <div class="d-flex justify-content-around">
    <select class="form-select w-100" (change)="onSelectedOrganisationId($event)">
      <option disabled selected>Organisation</option>
      <option *ngFor="let organisation of Organisations" [value]="organisation.id">{{
        organisation.name }}</option>
    </select>
  </div>
</div>
<table class="table border rounded">
  <th *ngIf="Organisation" colspan="3" class="text-center border p-3">
    <div class="d-flex justify-content-around">
      <div class="m-auto">
        Formations {{Organisation.name}}
      </div>
      <div *ngIf="Organisation" class="text-center">
        <button class="btn btn-primary hover mx-5" [routerLink]="'/admin-home/insert-training/'+Organisation.id">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
          </svg>
          <!-- <i class="bi bi-plus-square m-3"></i>-->
          </button> 
      </div>
    </div>
  </th>

  <tr *ngFor="let training of Trainings" class="border">
    <td class="text-center">
      <h6 class="">{{training.name}} </h6>
    </td>
    <td class="">
      <h6 class="">{{training.organisation}} {{training.level}} </h6>
    </td>
    <td class="d-flex flex-row-reverse">
      <button *ngIf="training" class="btn btn-danger hover border font-color-black mx-2" (click)="deletetraining(training.id)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
        </svg>
        <!-- <i class="bi bi-trash mx-5"></i> -->
      </button>
      <button *ngIf="training" class="btn btn-warning hover border font-color-black mx-2" (click)="updatetraining(training.id)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
          <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
        </svg>
        <!-- <i class="bi bi-arrow-clockwise mx-5"></i> -->
      </button>
    </td>
  </tr>
</table>