<div class="d-flex justify-content-center  border p-1 min-size">
    <a routerLink="/admin-home/admin" class="list-group-item list-group-item-action mx-4 p-1" >
        <div class="d-flex flex-column align-items-center">
            <i class="bi bi-emoji-sunglasses"></i>
        </div>
    </a>
  
    <a routerLink="/admin-home/training" class="list-group-item list-group-item-action mx-4 p-1" >
        <div class="d-flex flex-column align-items-center">
            <i class="bi bi-mortarboard fa-fw me-3"></i>
        </div>
    </a>
    <a *ngIf="User && User.role=='super admin'" routerLink="/admin-home/role" class="list-group-item list-group-item-action mx-4 p-1" >
        <div class="d-flex flex-column align-items-center">
            <i class="bi bi-filter-square"></i>
        </div>
    </a>
  
    <a routerLink="/admin-home/admin-site" class="list-group-item list-group-item-action mx-4 p-1" >
        <div class="d-flex flex-column align-items-center">
          <i class="bi bi-pin-map fa-fw me-3"></i>
        </div>
    </a>
</div>
  