.errors{
  color : orangered !important;
}

a:hover{
  background-color: lightgray;
  border-radius: 5px;
}

.bold{
  font-weight: bold;
}

.delete:hover{
  background-color: orange;
  border-radius: 5px;
}



