<div class="text-center ">

  <div class="my-2 d-flex justify-content-center border rounded">
    <a class=" btn btn-light text-center p-2 m-2 w-25 border rounded" (click)="Logout()" title="Logout">
     <div class="d-flex flex-column align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
      </svg>
       <!-- <i class="bi bi-box-arrow-left fa-fw me-3"></i> -->
       <span style=" font-style: italic;">déconnexion</span>
     </div>
    </a>
  </div>

  <form class="border rounded p-2" [formGroup]="FormProfil" (ngSubmit)="update()">

    <label for="firstname">Prénom</label>
    <div class="mb-3 d-flex justify-content-center">
      <input type="text" class="form-control w-50" [ngClass]="{'errors' : Firstname.invalid}"
        formControlName="firstname" id="firstname" placeholder="Firstname">
    </div>
    <div class="mb-3 d-flex justify-content-center">
      <div *ngIf="Firstname.invalid && (Firstname.dirty || Firstname.touched)">
        <div class="errors" *ngIf="Firstname.errors['required']">le prénom est requis</div>
        <div class="errors" *ngIf="Firstname.errors['minlength']">longueur minimum doit etre de 3 characteres </div>
        <div class="errors" *ngIf="Firstname.errors['maxlength']">longueur maximum ne peut depasser 250 characteres
        </div>
      </div>
    </div>


    <label for="lastname">Nom</label>
    <div class="mb-3 d-flex justify-content-center">
      <input type="text" class="form-control w-50" [ngClass]="{'errors' : Lastname.invalid}" formControlName="lastname"
        id="lastname" placeholder="Lastname">
    </div>
    <div class="mb-3 d-flex justify-content-center">
      <div *ngIf="Lastname.invalid && (Lastname.dirty || Lastname.touched)">
        <div class="errors" *ngIf="Lastname.errors['required']">le nom est requis</div>
        <div class="errors" *ngIf="Lastname.errors['minlength']">longueur minimum doit etre de 4 characteres </div>
        <div class="errors" *ngIf="Lastname.errors['maxlength']">longueur maximum ne peut depasser 250 characteres</div>
      </div>
    </div>


    <label for="birthdate">Date de naissance</label>
    <div class="mb-3 d-flex justify-content-center">
      <input type="date" class="form-control w-50" [ngClass]="{'errors' : Birthdate.invalid}"
        formControlName="birthdate" id="birthdate" placeholder="Birthdate">
    </div>
    <div class="mb-3 d-flex justify-content-center">
      <div *ngIf="Birthdate.invalid && (Birthdate.dirty || Birthdate.touched)">
        <div class="errors" *ngIf="Birthdate.errors['required']">la date de naissance est requise</div>
      </div>
    </div>


    <label for="email">E-mail</label>
    <div class="mb-3 d-flex justify-content-center">
      <input type="email" class="form-control w-50" [ngClass]="{'errors' : Email.invalid}" formControlName="email"
        id="email" placeholder="Email">
    </div>
    <div class="mb-3 d-flex justify-content-center">
      <div *ngIf="Email.invalid && (Email.dirty || Email.touched)">
        <div class="errors" *ngIf="Email.errors['required']">l'e-mail est requis</div>
        <div class="errors" *ngIf="Email.errors['email']">l'e-mail n'est pas conforme a une adresse mail</div>
      </div>
    </div>

    <button type="submit" class="btn btn-dark">Changer</button>
  </form>


  <div class="mt-2 border rounded">
    <div>
      <img *ngIf="User && User.imageProfil" [src]="User.imageProfil" class="size border rounded m-2" height="250vh" alt="Avatar" loading="lazy" />
    </div>
    <label for="image">Profil</label>
    <div class="mb-3 d-flex justify-content-center m-2">
      <input type="file" (change)="onFileSelectedPhoto($event)" class="form-control w-50 m-2" id="image"
        placeholder="image" enctype="multipart/form-data">
    </div>

    <div>
      <img *ngIf="User && User.imageInsurance" [src]="User.imageInsurance" class="size border rounded m-2" height="250vh" alt="Avatar"
        loading="lazy" />
    </div>
    <label for="image">Assurance</label>
    <div class="mb-3 d-flex justify-content-center m-2">
      <input type="file" (change)="onFileSelectedInsurance($event)" class="form-control w-50 m-2" id="insurance"
        placeholder="insurance" enctype="multipart/form-data">
    </div>

    <div>
      <img *ngIf="User && User.imageLevel" [src]="User.imageLevel" class="size border rounded m-2" height="250vh" alt="Avatar" loading="lazy" />
    </div>
    <label for="image">Niveau</label>
    <div class="mb-3 d-flex justify-content-center m-2">
      <input type="file" (change)="onFileSelectedLevel($event)" class="form-control w-50 m-2" id="level"
        placeholder="level" enctype="multipart/form-data">
    </div>

    <div>
      <img *ngIf="User && User.imageCertificat" [src]="User.imageCertificat" class="size border rounded m-2" height="250vh" alt="Avatar"
        loading="lazy" />
    </div>
    <label for="image">Certificat</label>
    <div class="mb-3 d-flex justify-content-center m-2">
      <input type="file" (change)="onFileSelectedCertificat($event)" class="form-control w-50 m-2" id="certificat"
        placeholder="certificat" enctype="multipart/form-data">
    </div>
  </div>


  <div *ngIf="User" class="mt-2 mb-4 border rounded">
    <h6 class="m-3 text-center">Mes brevets</h6>
  
    <table class="table table-borderless" >
      <tr class="border-bottom"  *ngFor="let training of User.trainings">
        <td class="text-center" [ngClass]="{'bold' : training.isMostLevel}">
          {{training.organisation.name }} {{training.name }}
        </td>
        <td class="d-flex flex-row-reverse p-1">
          <a class="btn btn-warning delete m-1 border" (click)="deletelevel(training.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
            </svg>
            <!-- <i class="bi bi-trash"></i> -->
          </a>
          <!-- <a *ngIf="!training.isMostLevel" class="btn btn-light hover m-1 border" (click)="updatelevel(training.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
              <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
            </svg>
            <i class="bi bi-eye"></i>
          </a> -->
        </td>
      </tr>
    </table>
   

   <h6 class="mb-3">Ajouter des brevets</h6>
    <div class="mb-3 d-flex justify-content-center">
      <select class="form-select w-50" (change)="onSelectedOrganisationId($event)">
        <option disabled selected>Organisation</option>
        <option *ngFor="let organisation of Organisations" [value]="organisation.id">{{
          organisation.name }}</option>
      </select>
    </div>

    <div class="mb-3 d-flex justify-content-center">
      <select class="form-select w-50" (change)="onSelectedTrainingId($event)">
        <option disabled selected>Niveau</option>
        <option *ngFor="let training of Trainings" [value]="training.id">{{ training.name }}</option>
      </select>
    </div>

    <form [formGroup]="FormLevel" (ngSubmit)="level()">
      <label for="refNumber">Numéro de réference</label>
      <div class="mb-3 d-flex justify-content-center">
        <input type="text" class="form-control w-50"  formControlName="refNumber"
          id="refNumber" placeholder="Numéro de réference">
      </div>

      <button type="submit" class="btn btn-dark mb-2">Changer</button>
    </form>
  </div>


</div>