<div class="text-center ">
  <form [formGroup]="FormLogin" (ngSubmit)="login()" >
      <p class="errors" *ngIf="errorMessage !=''">{{errorMessage}}</p>
      <label for="email" class="form-label">Email</label>
      <div class="mb-3 d-flex justify-content-center">
        <input type="text" class="form-control w-50" formControlName="email" name="email" id="email" placeholder="Email" >
      </div>
      <label for="password" class="form-label">Mot de passe</label>
      <div class="mb-3 d-flex justify-content-center">
        <input type="password" class="form-control w-50" name="password" id="password" formControlName="password" placeholder="Password"  >
      </div>
      <div class="mb-3 d-flex justify-content-center">
        <button type="submit" class="btn btn-dark">Login</button>
      </div>
  </form>
  <div class="d-flex justify-content-center mt-3 p-3">
    <p>Pour modifier votre mot passe écrivez votre email dans le formulaire ensuite cliquez ici ↓</p>
  </div>
  <div class="d-flex justify-content-center p-3">
    <a class="btn btn-warning" (click)="resetPassword()">mot de passe oublié ?</a>
  </div>
</div>
