<div class="d-flex justify-content-center border-bottom ">
  <a *ngIf="!User?.id" a routerLink="/login" class="list-group-item list-group-item-action text-center mx-5 p-2 w-25" title="Login">
    <div class="d-flex flex-column align-items-center">
      <i class="bi bi-box-arrow-in-right fa-fw me-3"></i>
      <span style=" font-style: italic;">connexion</span>
    </div>
  </a>
  <a *ngIf="!User?.id" routerLink="/register" class="list-group-item list-group-item-action text-center mx-5 p-2 w-25" title="Inscription">
    <div class="d-flex flex-column align-items-center">
      <i class="bi bi-r-square fa-fw me-3"></i>
      <span style=" font-style: italic;">s'enregister</span>
    </div>
  </a>
  
  <a *ngIf="User?.id" class="list-group-item list-group-item-action mx-4 p-1" routerLink="/profil" role="button" title="Mon profil">
    <div class="d-flex flex-column align-items-center">
      <img *ngIf="User.guidImage != ''" [src]="User.imageProfil" class="rounded-circle" height="25"Zalt="Avatar" loading="lazy" />
      <span style=" font-style: italic;">{{User.firstname}}</span>
    </div>
  </a>
  <a *ngIf="User?.id" routerLink="/my-book" class="list-group-item list-group-item-action mx-4 p-1" title="Mon Carnet">
    <div class="d-flex flex-column align-items-center">
      <i class="bi bi-book fa-fw me-3"></i>
      <!-- &nbsp; mon carnet -->
      <span style=" font-style: italic;">mon carnet</span>
    </div>
  </a>
  <a *ngIf="User?.id" routerLink="/my-events" class="list-group-item list-group-item-action mx-4 p-1" title="Mes Events">
    <div class="d-flex flex-column align-items-center">
      <i class="bi bi-calendar-event fa-fw me-3"></i>
      <!-- &nbsp; mes events -->
      <span style=" font-style: italic;">mes events</span>
    </div>
  </a>
  <a *ngIf="User?.id" routerLink="/my-clubs" class="list-group-item list-group-item-action mx-4 p-1" title="Mes Clubs">
    <div class="d-flex flex-column align-items-center">
      <i class="bi bi-shop fa-fw me-3"></i>
      <!-- &nbsp; mes groups -->
      <span style=" font-style: italic;">mes groupes</span>
    </div>
  </a>
  <a *ngIf="User?.id" class="list-group-item list-group-item-action mx-4 p-1" (click)="contactBarVisibility()" role="button" title="Mes Contacts">
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column align-items-center">
        <i class="bi bi-chat-text me-3"></i>
        <!-- &nbsp; mes amis -->
        <span style=" font-style: italic;">mes messages</span>
      </div>
      &nbsp;&nbsp;&nbsp;
      <span *ngIf="CountMessages > 0" class="rounded-circle border p-1 my-auto">{{CountMessages}}</span>
    </div>
  </a>
  <app-contactbar class="contactBarPostion" (HiddenContactBar)="event($event)" *ngIf="IsContactBarVisible" [PhoneSize]="PhoneSize"></app-contactbar>
</div>

