<!-- Sidebar -->


<div class="list-group list-group-flush boder-left min-size border rounded">
  <a class="list-group-item list-group-item-action text-center" routerLink="/profil" role="button">
    <img [src]="ImageUrl" class="rounded-circle" height="100"Zalt="Avatar" loading="lazy" />
    <!-- <i  class="bi bi-person fa-fw me-1"></i> -->
    <div *ngIf="user">{{user.firstname}}</div>
  </a>

  <a *ngIf="!user?.id" a routerLink="/login" class="list-group-item list-group-item-action text-center">
    <i class="bi bi-box-arrow-in-right fa-fw me-3"></i><span>Login</span>
  </a>
  <a *ngIf="user?.id" routerLink="/" class="list-group-item list-group-item-action text-center" (click)="Logout()">
    <i class="bi bi-box-arrow-left fa-fw me-3"></i><span>Logout</span>
  </a>
  <!-- <a routerLink="/" class="list-group-item list-group-item-action text-center">
    <i class="bi bi-house-door-fill fa-fw me-3"></i><span>Home</span>
  </a> -->
  <a *ngIf="!user?.id" routerLink="/register" class="list-group-item list-group-item-action text-center">
    <i class="bi bi-r-square fa-fw me-3"></i><span>Register</span>
  </a>
  <a *ngIf="user?.id" routerLink="/carnet" class="list-group-item list-group-item-action text-center">
    <i class="bi bi-book fa-fw me-3"></i><span>Mon Carnet</span>
  </a>
  <a *ngIf="user?.id" routerLink="/my-events" class="list-group-item list-group-item-action text-center">
    <i class="bi bi-calendar-event fa-fw me-3"></i><span>Mes Events</span>
  </a>

  <a *ngIf="user?.id" routerLink="/my-clubs" class="list-group-item list-group-item-action text-center">
    <i class="bi bi-calendar-event fa-fw me-3"></i><span>Mes Clubs</span>
  </a>
</div>