:host {
  display: block;
}

body.modal-open {
  overflow: hidden !important;
}

.border-none{
  border: none !important;
}

// .modal-container {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background-color: white;
//   padding: 20px;
//   border-radius: 5px;
//   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
//   overflow: hidden;
// }

.text-underline{
  text-decoration: underline;
}
.size{
  max-width: 300px;
  min-height: auto;
}

.font-color-black{
  color: black !important;
}

.hover:hover{
  color: white !important;
}

.min-width{
  min-width: 17vh;
}
