
<div class="container p-3">
    <h4 *ngIf="User && User.id ">Bonjour {{User.firstname}} {{User.lastname}}</h4>
    <h5>Modifier votre mot de passe</h5>
    <hr>
   
    <form  [formGroup]="FormResetPassword" (ngSubmit)="resetPassword()">
        
    
        <div class="form-group m-2">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" formControlName="password"  placeholder="Mot de passe" >
            <div *ngIf="Password.invalid && (Password.dirty || Password.touched)">
                <div class="errors" *ngIf="Password.errors['required']">le mot de passe est requis</div>
                <div class="errors" *ngIf="Password.errors['minlength']">longueur minimum doit etre de 4 characteres </div>
                <div class="errors" *ngIf="Password.errors['maxlength']">longueur maximum ne peut depasser 250 characteres</div>
                <div class="errors" *ngIf="Password.errors['number']">{{Password.errors['number']}}</div>
                <div class="errors" *ngIf="Password.errors['upper']">{{Password.errors['upper']}}</div>
                <div class="errors" *ngIf="Password.errors['lower']">{{Password.errors['lower']}}</div>
                <div class="errors" *ngIf="Password.errors['special']">{{Password.errors['special']}}</div>
            </div>
        </div>
        <!-- {{ ConfirmPassword.errors |json }} -->
        <div class="form-group m-2">
            <label for="passwdconfirm">Confirmation</label>
            <input type="password" class="form-control" id="passwdconfirm" formControlName="passwdConfirm" placeholder="Confirmation">
            <div *ngIf="ConfirmPassword.invalid && (ConfirmPassword.dirty || ConfirmPassword.touched)">
                <div class="errors" *ngIf="ConfirmPassword.errors['required']">ConfirmPassword est requis</div>
                <div class="errors" *ngIf="ConfirmPassword.errors['minlength']">longueur minimum doit etre de 4 characteres </div>
                <div class="errors" *ngIf="ConfirmPassword.errors['maxlength']">longueur maximum ne peut depasser 250 characteres</div>
                <div class="errors" *ngIf="ConfirmPassword.errors['number']">{{ConfirmPassword.errors['number']}}</div>
                <div class="errors" *ngIf="ConfirmPassword.errors['upper']">{{ConfirmPassword.errors['upper']}}</div>
                <div class="errors" *ngIf="ConfirmPassword.errors['lower']">{{ConfirmPassword.errors['lower']}}</div>
                <div class="errors" *ngIf="ConfirmPassword.errors['special']">{{ConfirmPassword.errors['special']}}</div>
                <div class="errors" *ngIf="FormResetPassword.getError('passwordMatch') as error">{{error}}</div>
            </div>
        </div>
        
        
       <div class="d-flex justify-content-center p-2">
           <button type="submit" class="btn btn-secondary mt-2">Validez</button>
       </div>
    </form>

</div>