<div class="text-center">
    
</div>


<div class="modal-container scroll">
    <div class=" modal-content card m-1">
        <div class="card-body">
            <div class="d-flex justify-content-around">
                <h4 class="mx-auto text-center">Attention vous aller supprimer l'evenement {{modalData.name}} !!</h4>
                <button mat-button class="btn btn-light " (click)="onClose()"><i class="bi bi-x-square"></i></button>
            </div>
            <hr>
            <div class="d-flex  justify-content-between p-5">
                <button class="btn btn-danger" (click)="deleteEvent(modalData.id)">Oui</button>
                <button class="btn btn-success" (click)="onClose()">Non</button>
            </div>
            <hr>
            <div class="text-center p-3">
                <button mat-button class="btn btn-light " (click)="onClose()">Fermer</button>
            </div>
        </div>
    </div>
</div>
