<!-- Sidebar -->


<div class="list-group list-group-flush boder-left ">

  <li class="list-group-item mb-3">
    <i  class="bi bi-person fa-fw me-3"></i><span *ngIf="user">{{user.firstname}}</span>
  </li>
  <a class="nav-link m-auto" routerLink="/profil" role="button">

    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle" height="100"
      alt="Avatar" loading="lazy" />
  </a>

  <a routerLink="/home" class="list-group-item list-group-item-action py-2 ripple mt-2">
    <i class="bi bi-house-door-fill fa-fw me-3"></i><span>Home</span>
  </a>
  <a *ngIf="!user?.id" a routerLink="/login" class="list-group-item list-group-item-action py-2 ripple">
    <i class="bi bi-box-arrow-in-right fa-fw me-3"></i><span>Login</span>
  </a>
  <a *ngIf="user?.id" routerLink="" class="list-group-item list-group-item-action py-2 ripple" (click)="handleLogoutAction()">
    <i class="bi bi-box-arrow-left fa-fw me-3"></i><span>Logout</span>
  </a>
  <a *ngIf="!user?.id" routerLink="/register" class="list-group-item list-group-item-action py-2 ripple">
    <i class="bi bi-r-square fa-fw me-3"></i><span>Register</span>
  </a>
  <a *ngIf="user?.id" routerLink="/contact" class="list-group-item list-group-item-action py-2 ripple">
    <i class="bi bi-r-square fa-fw me-3"></i><span>Contact</span>
  </a>
</div>