:host {
  display: block;
}

.light-blue {
  background-color: lightblue;
}

.blue {
  background-color: cornflowerblue;
}

.red{
  background-color: red;
}

.font-color-black{
  color: black !important;
  background-color: white;
}

.hover:hover{
  color: white !important;
  background-color :brown;
}

.min-width{
  min-width: 80%;
}


.color-red{
  color : red;
}
