<table class="table border rounded mt-3">
    <th colspan="3" class="text-center border p-3">Droit admin</th>
    <tr *ngFor="let user of Users" class="border">
      <td class="text-center">
        <h6 class="">{{user.firstname}} {{user.lastname}}</h6>
      </td>
      <td class="">
        <h6 class="">{{user.organisation}} {{user.level}}  </h6>
      </td>
      <td class="d-flex flex-column min-width">
        <button *ngIf="user.role !='admin'" class="btn btn-success hover border font-color-black m-1" (click)="admin(user.id)"><i class="bi bi-emoji-sunglasses"></i></button>
        <button *ngIf="user.role =='admin'" class="btn btn-warning hover border font-color-black m-1" (click)="unadmin(user.id)"><i class="bi bi-emoji-smile"></i></button>  
    </td>     
  </tr>
</table>

