<div class="container text-center">
  <div class="d-flex justify-content-around m-2" *ngFor="let contact of Users">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-title border-bottom py-2">{{contact.firstname}} {{contact.lastname}}</h4>
          <div *ngIf="contact.organisation">
            <div class="border-bottom py-2" *ngFor="let organisation of contact.organisation">
              <h5  class="card-title"><img  width="50px" src="../../../assets/organisations/{{organisation.organisationPicture}}" > : {{organisation.level}}</h5>
            </div>
          </div>
        </div>
        <div *ngIf="!contact.isFriend" class="card-body">
          <button class="btn btn-success m-2 hover" (click)="like(contact.id)">Aimer</button>
        </div>
        <div *ngIf="contact.isFriend" class="card-body">
          <button class="btn btn-danger" (click)="unlike(contact.id)">Ne plus aimer</button>
        </div>
      </div>
  </div>
</div>