<div *ngFor="let contact of Users">
  <div class="card m-1">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h4 class="card-title py-2">{{contact.firstname}} {{contact.lastname}}</h4>
          <div class="py-2" *ngFor="let organisation of contact.organisations">
            <h5>
              <!-- <img  width="50px" src="../../../assets/organisations/{{organisation.organisationPicture}}" >  -->
              {{organisation.name}} : {{organisation.level }}  </h5>
          </div>
          <!-- <i class="bi bi-hand-thumbs-up-fill"></i> -->
          <!-- <i class="bi bi-hand-thumbs-down-fill"></i> -->
        <button *ngIf="!contact.isFriend" class="btn btn-success m-2" (click)="like(contact.id)"><i class="bi bi-emoji-smile"></i></button>
        <button *ngIf="contact.isFriend" class="btn btn-warning m-2" (click)="unlike(contact.id)"><i class="bi bi-emoji-angry"></i></button>
      </div>   
    </div>
  </div>
</div>