<h6 class="border text-underline text-center p-1">Participants</h6>
<table class="table mt-2">
  <tr>
    <th class="border">
      <p class="text-underline text-center m-auto">Nom </p>
    </th>
    <th class="border">
      <p class="text-underline text-center m-auto">Age </p>
    </th>
    <th class="border">
      <p class="text-underline text-center m-auto">Médical </p>
    </th>
    <th class="border">
      <p class="text-underline text-center m-auto">Assurance </p>
    </th>
    <th class="border">
      <p class="text-underline text-center m-auto">Niveau </p>
    </th>
    <th *ngIf="User.id" class="border">
      <p class="text-underline text-center m-auto">Message </p>
    </th>
    <th *ngIf="UrlSegements =='my-clubs'|| 
                UrlSegements =='my-events'"
      class="border text-center m-auto"><i class="bi bi-dash-square"></i></th>
  </tr>

  <tr *ngFor="let participe of Participators">
    <td class="text-center border">
      {{participe.firstname}} {{participe.lastname}}
    </td>
    <td class="text-center border p-1">
      {{participe.age}} ans
    </td>
    <td class="text-center border">
      <ng-container *ngIf="participe.medicalDateValidation.getTime() <= Today.getTime(); else checkIcon">
        <i class="bi bi-x" style="color:red"></i>
      </ng-container>
      <ng-template #checkIcon>
        <i class="bi bi-check-lg" style="color:green"></i>
      </ng-template>
    </td>
    <td class="text-center border">
      <ng-container *ngIf="participe.insuranceDateValidation.getTime() <= Today.getTime(); else checkIcon">
        <i class="bi bi-x" style="color:red"></i>
      </ng-container>
      <ng-template #checkIcon>
        <i class="bi bi-check-lg" style="color:green"></i>
      </ng-template>

    </td>
    <td class="text-center border">
      <ng-container *ngIf="!participe.isLevelValid; else checkIcon">
        <i class="bi bi-x" style="color:red;"></i>
      </ng-container>
      <ng-template #checkIcon>
        <i class="bi bi-check-lg" style="color:green"></i>
      </ng-template>
    </td>



    <td *ngIf="User.id && participe.id != User.id" class="text-center border">
      <a class="btn btn-light" [routerLink]="'/message/'+participe.id"><i class="bi bi-chat-text"></i></a>
    </td>
    <td *ngIf="User.id && participe.id == User.id" class="text-center border">
      <i class="bi bi-x"></i>
    </td>

    <td [ngClass]="{'text-center border': User.id && UrlSegements =='my-clubs' || User.id && UrlSegements =='my-events'}">
      <ng-container
        *ngIf="User.id == Element.creator.id &&  Element.creator.id != participe.id && UrlSegements =='my-clubs' || 
                User.id == Element.creator.id && Element.creator.id != participe.id && UrlSegements =='my-events'; 
                else checkParticpe">
        <a (click)="erase(participe.id,Element.id)" class="btn btn-light">-</a>
      </ng-container>
      <ng-template #checkParticpe>
        <i *ngIf="Element.creator.id != participe.id && UrlSegements =='my-clubs' || 
                  Element.creator.id != participe.id && UrlSegements =='my-events'"
                  class="bi bi-x"></i>
      </ng-template>
    </td>
  </tr>
</table>



<div *ngIf="Demands && Demands.length > 0">
  <h6 class="border text-underline text-center p-1">Demandes</h6>
  <table class="table mt-2">
    <tr>
      <th class="border">
        <p class="text-underline text-center m-auto">Nom </p>
      </th>
      <th class="border">
        <p class="text-underline text-center m-auto">Age </p>
      </th>
      <th class="border">
        <p class="text-underline text-center m-auto">Médical </p>
      </th>
      <th class="border">
        <p class="text-underline text-center m-auto">Assurance </p>
      </th>
      <th class="border">
        <p class="text-underline text-center m-auto">Niveau </p>
      </th>
      <th *ngIf="User.id" class="border">
        <p class="text-underline text-center m-auto">Message </p>
      </th>
      <th *ngIf="UrlSegements =='my-clubs'|| 
                  UrlSegements =='my-events'"
        class="border text-center m-auto"><i class="bi bi-plus-square"></i></th>
    </tr>

    <tr *ngFor="let demand of Demands">
      <td class="text-center border">
        {{demand.firstname}} {{demand.lastname}}
      </td>
      <td class="text-center border">
        {{demand.age}} ans
      </td>
      <td class="text-center border">
        <ng-container *ngIf="demand.medicalDateValidation.getTime() <= Today.getTime(); else checkIcon">
          <i class="bi bi-x" style="color:red"></i>
        </ng-container>
        <ng-template #checkIcon>
          <i class="bi bi-check-lg" style="color:green"></i>
        </ng-template>
      </td>
      <td class="text-center border">
        <ng-container *ngIf="demand.insuranceDateValidation.getTime() <= Today.getTime(); else checkIcon">
          <i class="bi bi-x" style="color:red"></i>
        </ng-container>
        <ng-template #checkIcon>
          <i class="bi bi-check-lg" style="color:green"></i>
        </ng-template>

      </td>
      <td class="text-center border">
        <ng-container *ngIf="!demand.isLevelValid; else checkIcon">
          <i class="bi bi-x" style="color:red;"></i>
        </ng-container>
        <ng-template #checkIcon>
          <i class="bi bi-check-lg" style="color:green"></i>
        </ng-template>
      </td>


      <td *ngIf="User.id && demand.id != User.id" class="text-center border">
        <a class="btn btn-light" [routerLink]="'/message/'+demand.id"><i class="bi bi-chat-text"></i></a>
      </td>
      <td *ngIf="User.id && demand.id == User.id" class="text-center border">
        <i class="bi bi-x"></i>
      </td>
      
      <td [ngClass]="{'text-center border': User.id && UrlSegements =='my-clubs' || UrlSegements =='my-events'}">
        <ng-container
          *ngIf="User.id == Element.creator.id && Element.creator.id != demand.id && 
                            (UrlSegements =='my-clubs' ||  UrlSegements =='my-events')
                  ; else checkDemand">
          <a (click)="add(demand.id,Element.id)" class="btn btn-light">+</a>
        </ng-container>
        <ng-template #checkDemand>
          <i *ngIf="Element.creator.id != demand.id && UrlSegements =='my-clubs' || 
                    Element.creator.id != demand.id && UrlSegements =='my-events'"
                    class="bi bi-x"></i>
        </ng-template>
      </td>

    </tr>
  </table>
</div>